<p></p>
<div id="app" class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Employee</h3>
    </div>
    <form #employeeForm="ngForm">
      <div class="card-body">
        <div class="form-group">
          <label for="identity">Identity No:</label>
          <input type="text"
                 id="identity"
                 name="identityNo"
                 class="form-control"
                 required
                 tckimlikno
                 #identityNo="ngModel"
                 [(ngModel)]="employee.identityNo">
          <div class="alert alert-danger" *ngIf="identityNo.invalid">
            <div *ngIf="identityNo.errors && identityNo.errors.required">Identity No is required!</div>
            <div *ngIf="identityNo.errors && identityNo.errors.tckimlikno">This is not a valid identity no!</div>
          </div>
        </div>

        <div class="form-group">
          <label for="fullname">Full name:</label>
          <input type="text"
                 id="fullname"
                 name="fullname"
                 #fullname="ngModel"
                 class="form-control"
                 required
                 [minlength]="5"
                 pattern="[a-zA-Z ]+"
                 [(ngModel)]="employee.fullname">
          <div class="alert alert-danger" *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">
            <div *ngIf="fullname.errors && fullname.errors.required">Full name is required!</div>
            <div *ngIf="fullname.errors && fullname.errors.minlength">Minimum length is 5!</div>
            <div *ngIf="fullname.errors && fullname.errors.pattern">Must contain letters only!</div>
          </div>

        </div>
        <div class="form-group">
          <label for="iban">Iban:</label>
          <input type="text"
                 id="iban"
                 name="iban"
                 #iban="ngModel"
                 required
                 iban
                 class="form-control"
                 [(ngModel)]="employee.iban">
          <div class="alert alert-danger" *ngIf="iban.invalid && (iban.dirty || iban.touched)">
            <div *ngIf="iban.errors && iban.errors.required">Iban is required!</div>
            <div *ngIf="iban.errors && iban.errors.iban">This is not a valid iban!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="salary">Salary:</label>
          <input type="text"
                 id="salary"
                 name="salary"
                 class="form-control"
                 #salary="ngModel"
                 required
                 number
                 [min]="2000"
                 [(ngModel)]="employee.salary">
          <div class="alert alert-danger" *ngIf="salary.invalid && (salary.dirty || salary.touched)">
            <div *ngIf="salary.errors && salary.errors.required">Salary is required!</div>
            <div *ngIf="salary.errors && salary.errors.min">Minimum salary is 3000!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="birthYear">Birth Year:</label>
          <input type="text"
                 class="form-control"
                 id="birthYear"
                 name="birthYear"
                 #birthYear="ngModel"
                 required
                 number
                 [min]="1950"
                 [max]="2006"
                 [(ngModel)]="employee.birthYear">
          <div class="alert alert-danger" *ngIf="birthYear.invalid && (birthYear.dirty || birthYear.touched)">
            <div *ngIf="birthYear.errors && birthYear.errors.required">Birth year is required!</div>
            <div *ngIf="birthYear.errors && birthYear.errors.min">Minimum birth year is 1950!</div>
            <div *ngIf="birthYear.errors && birthYear.errors.max">Maximum birth year is 2004!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="department">Department:</label>
          <select id="department"
                  name="department"
                  class="form-control"
                  [(ngModel)]="employee.department">
            <option>IT</option>
            <option>Sales</option>
            <option>Finance</option>
            <option>HR</option>
          </select>
        </div>
        <div class="form-group">
          <label for="photo">Photo:</label>
          <img style="width: 64px; height: 64px;"
               id="photo"
               [src]="employee.photo">
          <label class="btn btn-info btn-file">
            <input type="file"
                   name="photo"
                   (change)="loadPhoto($event)"
                   style="display: none;">
            <span>Browse</span>
          </label>
        </div>
        <div class="form-group">
          <button (click)="findByIdentity()"
                  [disabled]="identityNo.invalid"
                  class="btn btn-success">Find By Identity
          </button>
          <button (click)="hireEmployee()"
                  [disabled]="employeeForm.invalid"
                  class="btn btn-success">Hire Employee
          </button>
          <button (click)="updateEmployee()"
                  [disabled]="employeeForm.invalid"
                  class="btn btn-warning">Update Employee
          </button>
          <button (click)="fireEmployee()"
                  [disabled]="identityNo.invalid"
                  class="btn btn-danger">Fire Employee
          </button>
          <button (click)="retrieveEmployees()"
                  class="btn btn-info">Retrieve Employees
          </button>
        </div>
      </div>
    </form>
    <p></p>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Employees</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover table-bordered table-striped table-responsive">
          <thead>
          <tr>
            <th>No</th>
            <th>Photo</th>
            <th>Identity</th>
            <th>Full Name</th>
            <th>Iban</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Full-time?</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let emp of employees; let i = index">
            <td>{{i + 1}}</td>
            <td><img [src]="emp.photo" style="width: 32px; height: 32px;border-radius: 16px;"></td>
            <td>{{emp.identityNo}}</td>
            <td>{{emp.fullname}}</td>
            <td>{{emp.iban}}</td>
            <td>{{emp.salary | currency : '\u20ba'}}</td>
            <td><span class="badge badge-info">{{emp.department}}</span></td>
            <td><span class="badge badge-info">{{emp.fulltime ? 'FULL TIME' : 'PART TIME'}}</span></td>
            <td>
              <button (click)="fireEmployeeByIdentity(emp.identityNo)"
                      class="btn btn-danger">Fire Employee
              </button>
            </td>
          </tr>
          <tr>
            <td colSpan="4"></td>
            <th>Total Salary:</th>
            <td>{{totalSalary | currency : '\u20ba'}}</td>
            <td colSpan="3"></td>
          </tr>
          <tr>
            <td colSpan="4"></td>
            <th>Average Salary:</th>
            <td>{{averageSalary | currency : '\u20ba'}}</td>
            <td colSpan="3"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
